@using MudBlazor
<MudMenu Label="@EmailAddress">
    <MudMenuItem>
        @* ReSharper disable start Html.PathError *@
        <a href="MicrosoftIdentity/Account/SignOut">Sign out</a>
        @* ReSharper disable end Html.PathError *@
    </MudMenuItem>
</MudMenu>